// 
// AF

@tailwind base
@tailwind components
@tailwind utilities

@layer base
    :root
        --color-whitesmoke: 245 245 245
        --color-white: 256 256 265
        --color-purple: 181 0 175
        --color-gray: 121 121 121
        --color-primary: 100 25 230
        --color-secondary: 217 38 169
        --color-accent: 31 178 166
        --color-neutral: 25 29 36
        --color-base: 42 48 60
        --color-info: 58 191 248
        --color-success: 54 211 153
        --color-warning: 251 189 35
        --color-error: 248 114 114
    .dark
        --color-whitesmoke: 245 245 245
        --color-white: 256 256 265
        --color-purple: 181 0 175
        --color-gray: 121 121 121
        --color-primary: 100 25 230
        --color-secondary: 217 38 169
        --color-accent: 31 178 166
        --color-neutral: 25 29 36
        --color-base: 42 48 60
        --color-info: 58 191 248
        --color-success: 54 211 153
        --color-warning: 251 189 35
        --color-error: 248 114 114

*,
::after,
::before
    box-sizing: border-box
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    border: none
    background-color: transparent
    outline: none
    box-shadow: none
    -moz-box-shadow: none
    -webkit-box-shadow: none

html
    -ms-content-zooming: none
    -webkit-overflow-scrolling: touch
    -ms-touch-action: pan-x pan-y
    height: 100%

html,
head,
body
    touch-action: none
    -ms-touch-action: none
    -webkit-overflow-scrolling: touch
    margin: 0
    padding: 0
    direction: rtl

body
    touch-action: pan-y pan-x
    width: 100%
    height: 100%
    -webkit-overflow-scrolling: touch

#root-layout
    >div
        height: 100%

#__next
    height: 100%

.testApply
    @apply container mx-auto min-h-screen px-4 py-6
